<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.word.write.dao.WriteaMapper">
    <!--    添加-->
    <insert id="addWritea" parameterType="Writea">
        INSERT INTO `word_write`.`writea` (`writeid`, `pid`, `writeword`, `isyes`, `writedate`, `stuid`, `stuclass`,
                                           `pnum`)
        VALUES (#{writeid}, #{pid}, #{writeword}, #{isyes}, #{writedate}, #{stuid}, #{stuclass}, #{pnum});
    </insert>
    <!--    删除-->
    <delete id="delWritea" parameterType="Integer">
        delete
        from `word_write`.`writea`
        where writeid = #{writeid}
    </delete>
    <!--    自测列表-->
    <select id="findPaperByPnum" resultType="Paper">
        select p.*,w.*,s.* from paper p,worda w,stuclass s
        <where>
            p.wordid = w.wordid and p.classid = s.classid and p.isidentify=1
            <if test="classid!=null">
                and p.classid=#{classid}
            </if>
            order by p.pid desc
            limit #{pageStart},#{pageSize}
        </where>
    </select>
    <!--    自测列表-->
    <select id="findPaperByPnum1" resultType="Paper">
        select p.*,w.*,s.* from paper p,worda w,stuclass s
        <where>
            p.wordid = w.wordid and p.classid = s.classid and p.isidentify=1
            <if test="classid!=null">
                and p.classid=#{classid}
            </if>
            order by p.pid desc
        </where>
    </select>
    <select id="findPaperByPnumCount" resultType="int">
        select COUNT(1) from paper p,worda w,stuclass s
        <where>
            p.wordid = w.wordid and p.classid = s.classid and p.isidentify=1
            <if test="classid!=null">
                and p.classid=#{classid}
            </if>
        </where>
    </select>
    <!--    历史纪录-->
    <select id="findPaperHistory" resultType="Paper">
        select m.*,p.*,s.* from mark m ,student s,paper p where m.stuid=s.stuid and m.pnum=p.pnum and m.stuclass=p.classid
        and p.isidentify=1 and s.stuid=#{stuid} and p.classid=#{classid}
        order by m.markdate desc
        limit #{pageStart},#{pageSize}

    </select>
    <select id="findPaperHistory1" resultType="Paper">
        select m.*,p.*,s.* from mark m ,student s,paper p where m.stuid=s.stuid and m.pnum=p.pnum and m.stuclass=p.classid
        and p.isidentify=1 and s.stuid=#{stuid} and p.classid=#{classid}
        order by m.markdate desc
    </select>
    <select id="findPaperHistoryCount" resultType="int">
        select COUNT(*) from mark m ,student s,paper p where m.stuid=s.stuid and m.pnum=p.pnum and m.stuclass=p.classid
        and p.isidentify=1 and s.stuid=#{stuid} and p.classid=#{classid}
    </select>
    <!--    展示题目-->
    <select id="showExam" resultType="Paper">
        select p.*,w.*,s.* from paper p,worda w,stuclass s
        <where>
            p.wordid = w.wordid and p.classid = s.classid
            <if test="pnum!=null">
                and p.pnum like CONCAT('%',#{pnum},'%')
            </if>
            <if test="classid!=null">
                and p.classid=#{classid}
            </if>
        </where>
    </select>
    <!--    查询默写表-->
    <select id="findWriteaCount" resultType="int">
        select COUNT(1) from writea writea w,student t,stuclass c
        <where>
            w.stuid=t.stuid and w.stuclass=c.classid
            <if test="pnum!=null">
                and pnum like CONCAT('%',#{pnum},'%')
            </if>
            <if test="writeDateStart!=null">
                and writedate between #{writeDateStart} and #{writeDateEnd}
            </if>
            <if test="stuclass!=null">
                and stuclass=#{stuclass}
            </if>
            <if test="isyes!=null">
                and isyes=#{isyes}
            </if>
        </where>
    </select>
    <!--    试卷数-->
    <select id="countPaper" resultType="int">
        select count(1)
        from paper p,
             worda w,
             stuclass s
        where p.wordid = w.wordid
          and p.classid = s.classid
          and p.pnum = #{pnum}
          and p.classid = #{classid}
    </select>
    <!--    查询-->
    <select id="findWritea" resultType="Writea">
        select * from writea writea w,student t,stuclass c
        <where>
            w.stuid=t.stuid and w.stuclass=c.classid
            <if test="pnum!=null">
                and pnum like CONCAT('%',#{pnum},'%')
            </if>
            <if test="writeDateStart!=null">
                and writedate between #{writeDateStart} and #{writeDateEnd}
            </if>
            <if test="stuclass!=null">
                and stuclass=#{stuclass}
            </if>
            <if test="isyes!=null">
                and isyes=#{isyes}
            </if>
        </where>
         limit #{pageStart},#{pageSize}
    </select>
    <!--    根据IsYes查询-->
    <select id="findWriteaByIsYes" resultType="Writea">
        select m.*,p.*,s.*,w.*,wo.* from mark m ,student s,paper p,writea w,worda wo
        <where>
        m.stuid=s.stuid and m.pnum=p.pnum and w.pnum=m.pnum and wo.wordid=p.wordid and w.pid=p.pid
        and m.stuclass=p.classid and s.stuid=#{stuid}
        and p.classid=#{stuclass} and w.writedate=#{markdate}
            <if test="mid!=null">
                and m.mid=#{mid}
            </if>
            <if test="isyes!=null">
                and w.isyes=#{isyes}
            </if>
        </where>
        order by writedate
    </select>
</mapper>